<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Блог</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Navbar</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Главная</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/blog">Блог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacts">Контакты</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        <h1>Это страница откровений!</h1>
        <p>В течение долгого времени вампиров боялись, так как считали, что они прожорливые чудовища ночи, черные тени, которые крадутся в темноте, чтобы похищать младенцев и пить кровь невинных. Однако так же их считали существами, обладающими смертоносной красотой, безмерной страстью и хищнической чувственностью.

Каждый вампир уникален, и у каждого из них есть своя чарующая история, которую он может поведать. Наиболее важная черта, которая объединяет всех вампиров – это их проклятье. Вне зависимости от возраста, клана, секты или убеждений все они – неживые хищники. Верность и обязанности уходят на второй план перед неотвратимым голодом. Все без исключения вампиры паразиты, и они обречены охотиться на тех, кем и сами когда-то являлись.

Вампиры – чудовища. Каково это – оставить обескровленный труп ребенка на свалке? Манипулировать смертными как пешками на шахматной доске? Подозревать, что старейшины используют вас как невольное оружие в борьбе против своих древних врагов? Провести всю свою не-жизнь прячась и поглощая кровь? Поддаваться на уловки Зверя и разрывать невинных жертв на куски?

Подстраиваясь под окружающий мир, сородичи создали свое общество, которое существует вне поля зрения смертных. Возраст, клан, сир, сила, влияние и многие другие аспекты не-жизни делают сородичей теми, кем они являются. Частью существования любого сородича является членство в различных социальных кастах, которые существуют в обществе вампиров. Создавая и вводя различные должности и роли для себя, вне зависимости от того, насколько они искусственные, сородичи пытаются сбежать от Зверя, который обитает внутри их. В этом и состоит двусмысленность игры Vampire: The Masquerade. Вампиры скрываются не только от смертных, но и от себя, притворяясь что они не такие ужасные, какими являются на самом деле.

Одним из признаков отличия среди Проклятых являются возраст (куда обычно включаются и досмертные человеческие годы) и поколение, указывающее насколько далеко сородич удален от прародителя вампиров, Каина. Молодые вампиры должны доказывать свою значимость старейшинам, чтобы получить хоть какой-то статус, а общество вампиров обычно столь же инертно, как и сами бессмертные Проклятые. Существует лишь небольшая степень мобильности, так как старейшины сородичей всегда ищут сторонников и союзников, которые помогли бы им в борьбе с их противниками по Джихаду.

Величайшими из вампиров являются Допотопные, вампиры третьего поколения. По легенде, после основания города вампиров Каином, его могущественные потомки из второго поколения "расслабились" и были различными способами поглощены Допотопными. Это сделало Допотопных очень сильными, вероятно даже наравне с Каином, но он к тому времени уже исчез из поля зрения оборзевших внучат. Большинство вампиров считает, что Допотопные – всего лишь легенда, так как никого из них не видели в современные ночи. Наиболее низшими по рангу считаются неонаты и бесклановые Каитиффы, вампиры, которые не принадлежат ни к одному из кланов или чья кровь уже слишком слаба.</p>
        <!-- Добавьте больше контента о вампирах здесь -->
    </div>
</body>
</html>